<template>
  <header class="bg-green relative">
    <div
      class="container mx-auto flex items-center justify-between py-6 relative z-20"
    >
      <div>
        <nuxt-link class="text-yellow text-xl" to="/"> Fa Quiz 📝</nuxt-link>
      </div>
      <div>
        <nuxt-link
          class="text-white focus:text-yellow hover:text-yellow focus:outline-none duration-75 mr-9"
          to="/questions"
          >Quiz</nuxt-link
        >
      </div>
    </div>
    <img
      src="/img/overlay.png"
      class="absolute w-full object-cover h-full bottom-0 left-0 z-10"
      alt=""
    />
  </header>
</template>

<script>
export default {}
</script>

<style lang="scss" scoped></style>
