<template functional>
  <div class="">
    <div
      class="bg-green-50 max-w-full relative h-2 rounded-sm overflow-hidden mb-5"
    >
      <div
        class="bg-green absolute h-2 transition-all duration-200"
        :style="{ width: `${props.progressWidth}%` }"
      ></div>
    </div>
  </div>
</template>

<script>
export default {
  props: ['progressWidth'],
}
</script>
