.page {
  @apply bg-green relative overflow-hidden;
  &__cont {
    @apply max-w-screen-xl mx-auto min-h-screen relative z-20;
  }
  &__box {
    @apply flex flex-col items-center justify-center max-w-2xl mx-auto px-7 relative z-10;
  }
  &__heading {
    @apply text-white font-semibold text-5xl sm:text-6xl text-center;
  }
  &__info {
    @apply text-gray-100 text-3xl text-center font-medium mt-9;
  }
  &__link {
    @apply mt-4 text-lg font-semibold text-yellow underline;
  }
  &__btn {
    @apply text-lg bg-yellow text-white py-4 px-6 rounded-lg mt-8;
  }
}
