.question {
  @apply mt-10;
  &__heading {
    @apply font-semibold  xl:text-3xl lg:text-2xl text-xl mb-5;
  }
  &__option {
    @apply mb-6 p-4 text-[15px] font-medium rounded-lg border-2 shadow-sm w-full flex justify-start items-center transition-all duration-75;
    &.selected {
      @apply border-green border-4 shadow-md;
    }
  }
  &__btns {
    @apply mt-10;
    button {
      @apply text-white py-4 px-6 rounded-lg mr-3;
      span {
        @apply font-medium;
      }
    }
    &-prev {
      @apply bg-yellow;
    }
    &-next {
      @apply bg-green;
    }
  }
}
