<template>
  <div class="min-w-full">
    <Header />
    <Nuxt class="" />
    <!-- <Footer /> -->
  </div>
</template>

<script>
import Header from '~/components/interface/Header.vue'
export default {
  components: { Header },
}
</script>
<style>
html,
body {
  font-family: 'Roboto';
}
</style>
