<template>
  <div class="page">
    <div class="page__cont">
      <div class="page__box">
        <div class="mt-20">
          <h1 class="page__heading">
            Welcome to the Future Africa Quiz App! 👋🏼
          </h1>
        </div>
        <p class="page__info">Learn about concepts of venture capital. 👨🏽‍💼 🤝</p>
        <nuxt-link class="page__btn" to="/questions">
          Get started here!
        </nuxt-link>
      </div>
    </div>
    <img
      src="/img/overlay.png"
      class="absolute w-full object-cover h-full bottom-0 left-0 z-10"
      alt=""
    />
  </div>
</template>

<script>
export default {}
</script>

<style lang="scss" scoped></style>
