<template>
  <div class="container mx-auto question">
    <h2 class="question__heading">All the best! 🤖</h2>

    <div class="mb-5 font-medium text-xl">
      Question {{ currentIndex + 1 }} of {{ this.questions.length }}
    </div>
    <div class="mb-4" v-if="showError">
      Please answer question{{ unansweredQuestions.length > 1 ? 's' : '' }}
      <span class="text-red-600 font-medium">{{ unansweredCopy }}.</span>
    </div>
    <ProgressBar :progressWidth="progressWidth" />
    <div class="">
      <p class="mb-4">
        {{ currentQuestion.question }}
      </p>

      <div class="max-w-[550px]">
        <button
          @click="answerQuestion(currentQuestion.id, option.id)"
          class="question__option"
          :class="{ selected: checkAnswerState(option.id) }"
          :key="option.id"
          v-for="(option, i) in currentQuestion.options"
        >
          <span class="font-medium text-left"> {{ letters[i] }}) &nbsp; </span>
          <span class="text-left">
            {{ option.text }}
          </span>
        </button>

        <div class="question__btns">
          <button
            class="question__btns-prev"
            :class="{ 'opacity-50': currentIndex == 0 }"
            @click="goPrev"
          >
            Previous
          </button>
          <button
            v-if="!finalQuestion"
            class="question__btns-next"
            @click="goNext"
          >
            Next
          </button>
          <button v-else class="question__btns-next" @click="goNext">
            {{ !submitting ? 'Submit' : 'Submitting...' }}
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import ProgressBar from '~/components/interface/ProgressBar'
export default {
  layout: 'default',
  components: {
    ProgressBar,
  },
  data() {
    return {
      currentIndex: 0,
      submitting: false,
      showError: false,
      progressWidth: 0,
      progressIncrementStep: 100 / 5,
      letters: ['A', 'B', 'C'],
    }
  },
  computed: {
    ...mapGetters({
      questions: 'getQuestions',
      userAnswers: 'getUserAnswers',
    }),
    currentQuestion() {
      return this.questions[this.currentIndex]
    },
    unansweredQuestions() {
      const unansweredArr = []
      this.questions.forEach((question, index) => {
        const unaswered = !this.userAnswers.some(
          (answer) => answer.question_id == question.id
        )
        if (unaswered) {
          unansweredArr.push(index + 1)
        }
      })
      return unansweredArr
    },
    unansweredCopy() {
      var finalCopy = ''
      if (this.unansweredQuestions.length > 1) {
        this.unansweredQuestions.forEach((num, index) => {
          finalCopy +=
            this.unansweredQuestions.length - 1 > index
              ? `${num}, `
              : ` and ${num}`
        })
      } else {
        finalCopy = this.unansweredQuestions[0]
      }
      return finalCopy
    },
    finalQuestion() {
      return this.currentIndex + 1 == this.questions.length
    },
    allAnswered() {
      return this.questions.some((question) =>
        this.userAnswers.find((answer) => question.id == answer.question_id)
      )
    },
  },
  methods: {
    sleep(ms) {
      return new Promise((resolve) => setTimeout(resolve, ms))
    },
    checkAnswerState(option_id) {
      return this.userAnswers.some((answer) => answer.option_id == option_id)
    },
    answerQuestion(question_id, option_id) {
      if (!this.submitting) {
        this.$store.commit('updateUserAnswers', { question_id, option_id })
      }
    },
    async goNext() {
      if (!this.finalQuestion && !this.submitting) {
        this.currentIndex += 1
        return
      }
      // last question reached
      if (this.unansweredQuestions.length > 0) {
        this.showError = true
        return
      }
      this.submitting = true
      await this.sleep(2000)
      this.$router.push('/result')
    },
    goPrev() {
      if (this.currentIndex !== 0 && !this.submitting) {
        this.currentIndex -= 1
      }
    },
  },
  watch: {
    userAnswers(newValue, oldValue) {
      if (newValue.length > oldValue.length) {
        this.progressWidth += 100 / this.questions.length
      }
    },
    unansweredQuestions(newValue) {
      if (newValue.length < 1) {
        this.showError = false
      }
    },
  },
}
</script>
