<template>
  <div class="page">
    <div class="page__cont">
      <div class="page__box">
        <div class="mt-20">
          <h1 class="page__heading">
            Your answers were submitted successfully! 🔥
          </h1>
        </div>
        <p class="page__info">
          You scored {{ userResult }}%! {{ userResult !== 0 ? '🚀' : '☹️' }}
        </p>

        <nuxt-link @click.native="resetApp" class="page__link" to="/questions">
          Retake quiz
        </nuxt-link>
      </div>
    </div>
    <img
      src="/img/overlay.png"
      class="absolute w-full object-cover h-full bottom-0 left-0 z-10"
      alt=""
    />
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
export default {
  middleware: 'result',
  computed: {
    ...mapGetters({
      userResult: 'getUserResult',
    }),
  },
  methods: {
    resetApp() {
      this.$store.commit('resetApp')
    },
  },
}
</script>

<style lang="scss" scoped></style>
